<header>
  <h1>ITIS3135 | Brian Tramuel's | Brilliant Tortoise</h1>
  <nav>
  <a href="itis3135/">Home</a>
  <a href="introduction.html">Introduction</a>
  <a href="contract.html">Contract</a>
  <a href="website-evaluations.html">Web Evaluations</a>
   <a href="stuff/MY%20CRAPPY%20PAGE%20&%20SMOKE%20🚬.HTM">Crappy Page</a>
</nav>

  <p>
    <a href="http://webpages.uncc.edu/btramue1/itis3135/" target="_blank" rel="noreferrer">
      http://webpages.uncc.edu/btramue1/itis3135/
    </a>
    |
    <a href="http://btramuel.github.io/itis3135/" target="_blank" rel="noreferrer">
      http://btramuel.github.io/itis3135/
    </a>
  </p>
</header>
