<header>
  <h1>ITIS 3135 | Brian Tramuel | Brilliant Tortoise</h1>

  <nav>
    <a href="index.html">Home</a> |
    <a href="introduction.html">Introduction</a> |
    <a href="contract.html">Contract</a> |
    <a href="website-evaluations.html">Web Evaluations</a> |
    <a href="MY CRAPPY PAGE.HTM">Crappy Page</a> |
    <a href="fccfsjs_outline.html">FCC Progress</a> |
    <a href="hobby/index.html">Hobby</a> |
    <a href="intro_form.html">Introduction Form</a> |
    <a href="project_overview.html">Project Overview</a> |
    <a href="sql site/index.html">Client Project</a> |
    <a href="review1.html">Peer Review 1</a> |
    <a href="review2.html">Peer Review 2</a>
  </nav>

  <p class="external-links">
    <a href="https://webpages.charlotte.edu/btramue1/itis3135/" target="_blank" rel="noreferrer">UNCC WebSpace</a> |
    <a href="https://btramuel.github.io/itis3135/" target="_blank" rel="noreferrer">GitHub.io</a>
  </p>
</header>
