<header>
  <h1>ITIS3135 | Brian Tramuel's | Brilliant Tortoise</h1>
  <nav>
    <a href="index.html">Home</a> |
    <a href="introduction.html">Introduction</a> |
    <a href="contract.html">Contract</a> |
    <a href="website-evaluations.html">Web Evaluations</a> |
    <a href="MY CRAPPY PAGE.HTM">Crappy Page</a> |
    <a href="fccfsjs_outline.html">FCC Progress</a> |
    <a href="hobby">Hobby</a> 
  </nav>

  <p>
    <a href="https://webpages.charlotte.edu/btramue1/itis3135/" target="_blank" rel="noreferrer">
      UNCC WebSpace
    </a>
    |
    <a href="https://btramuel.github.io/itis3135/" target="_blank" rel="noreferrer">
      GitHub.io
    </a>
  </p>
</header>
